astroid==3.0.3
certifi @ file:///private/tmp/python-certifi-20240201-4765-6ufe0c/certifi-2024.2.2
charset-normalizer @ file:///private/tmp/python-charset-normalizer-20231123-5225-x00973/charset-normalizer-3.3.2
coverage==7.4.1
dill==0.3.8
distlib==0.3.8
filelock==3.13.1
idna @ file:///private/tmp/python-idna-20231125-5279-xtqzsf/idna-3.6
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
openapi3 @ file:///private/tmp/python-openapi3-20231127-5940-s7gfn9/openapi3-1.8.2
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
ply @ file:///private/tmp/python-ply-20231123-5320-9ahdwf/ply-3.11
pylint==3.0.3
pytest==8.0.0
pytest-cov==4.1.0
pytest-pylint==0.21.0
PyYAML @ file:///private/tmp/pyyaml-20231018-5610-1rdh755/PyYAML-6.0.1
requests @ file:///private/tmp/python-requests-20231124-5682-96f89l/requests-2.31.0
tomlkit==0.12.3
urllib3 @ file:///private/tmp/python-urllib3-20240130-5051-a0kzhm/urllib3-2.2.0
virtualenv==20.25.0
pandas>=1.2.0
numpy>=1.19.0
pytest>=6.2.0

